* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
}

h1 {
    color:#480376;
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}

.logo-container {
    position: fixed;
    display: flex;
    top: 10px;
    left: 10px;
    z-index: 9999;
    padding: 20px;
    align-items: center;
}

.logo-container i {
    width: 30px;
    margin:15px;
    height: 20px;
    font-size: 25px;
}

.logo-container p {
    font-size: 23px;
}


#inicio {
    position: relative;
    background-image: url(..//img/1.png);
    background-size: cover;
    background-repeat: round;
}
  
#ingreso {
    display:  flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:  center;
    justify-content: center;
    
}

#ingreso form{
margin-top: 50px;
}

form {
    width: 20%;
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
    align-items: center ;
}

form .title {

    color: #252525;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size:  20px;
    color: #160809;
    margin-right: 20px;
}

form label input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #ce1d61;
    padding: 0 5px;
    font-size: 20px;
    height: 40px;
}

form label input ::placeholder {
    color: #C25561;
  
}

form .link {
    color: #242424;
    margin-bottom: 25px;
}

#icono{
    color: #240456;
}

button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #cb23c0, #ce1d61);
    padding: 15px 15px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 25px;
    height: 50px;
    width: 150px;
}

#redes {
    padding: 20px;
    width: 40vh;
    display: flex;
    justify-content: space-around;  
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

#redes a{
    color:#75056b;
    text-decoration: none;
    font-size: 25px;
}


#nuevousuario {
    display:  flex;
    flex-direction: column;
    align-items:  center;
    background-image: url(../img/1.png);
    background-repeat: round;
}

#nuevousuario form {
    margin-top: 100px;
}

#nuevousuario input {
    margin-top: 10px;
}

#nuevousuario h3 {
    font-size: 25px;
}




#button2 {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #cb232c, #291dce);
    padding: 15px 15px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 25px;
    height: 50px;
    width: 170px;
}

  #toggleCheckbox {
    display: none; /* Oculta el checkbox por defecto */
  }
  
  .toggle-label {
    cursor: pointer; /* Cambia el cursor a un puntero al pasar por encima */
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #dropdownList {
    display: none; /* Oculta las opciones por defecto */
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
  }

  
  #dropdownList option{
    padding: 10px;
    list-style: none;
    border: 1px solid #a40808;
    }

  #dropdownList li {
    cursor: pointer;
    margin-bottom: 5px; /* Espacio entre las opciones */
  }

  
  #toggleCheckbox:checked ~ #dropdownList {
    display: block; /* Muestra las opciones cuando el checkbox está marcado */
  }

  
#home {
    display:  flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/2.png);
    background-repeat: round;
}


#homecontenedor{
    background: #c3bfbf;
    height: 40vh;
    width: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#turno{
    display:  flex;
    align-items:  center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../img/2.png);
    flex-direction:column;
    background-repeat: round;
}

#buttonturno {
    width: 170px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

#buttonturno i{
    margin-bottom: 40px;
    color: #43047b;
    font-size: 40px;
}

#turnoscontenedor{
    background: #c3bfbf;
    height: 70vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

#okturno {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #cb232c, #291dce);
    padding: 15px 15px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 25px;
    height: 50px;
    width: 170px;
}

#odontologo{
    display:  flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../img/3.png);
    background-repeat: round;
}

#box1{
    background: #726f6f;
    height: 70vh;
    width: 150vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#box1 button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #cb232c, #291dce);
    padding: 15px 15px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
}

#newodontologo{
    height: 50vh;
    width: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    
}

#newodontologo input {
    height: 30px;
    text-align: center;
}

#paciente{
    display:  flex;
    align-items:  center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../img/4.png);
    background-repeat: round;
}

#accionescont{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
}

#accionescont button {
    height: 50px;
    width: 50px;
}


/* Dandole estilos a la tabla */

#tabla{
    width: 600px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: #413e3e;
    padding: 20px;
}

table {
    color:#f0f0f0;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: rgba(158, 16, 113, 0.4);
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(205, 118, 240, 0.2);
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: #291dce;
}





